<!DOCTYPE html>
<html>
<head>
  <title> {%= group %} {%= name %} (debug version) </title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="systemjs-importmap">
      {
        "imports": {
        {{#importmap}}
          {{{importmapName}}}
        {{/importmap}}
        }
      }
  </script>
  <script src="/systemjs/6.8.3/system.min.js"></script>


</head>
<body style="background: #999">
<script crossorigin="anonymous">
  System.import('{{{app}}}').then(function(){
    console.log('!!!! debug mode!!!!');
  });
</script>
</body>
</html>
