<!DOCTYPE html>
<html>
<head>
  <title> test sample (debug version)</title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="systemjs-importmap">
  {
    "imports": {
    {{#importmap}}
      {{{importmapName}}}
    {{/importmap}}
    }
  }
  </script>

</head>
<body style="background: #999">
<div id="root"></div>
  <script crossorigin="anonymous" src="/systemjs/6.10.3/system.min.js"></script>
  <script crossorigin="anonymous">System.import("{{{app}}}")</script>
</body>
</html>
