.directory
.idea
.vscode
npm-debug.log
package-lock.json
/builder/framework/
/tmp/
/data/
/release/
/games/
node_modules/
/node_modules/
/public/
/project/
/developer/agent/test/data/
/developer/agent/app/slot/
/developer/agent/config/slot/
/developer/agent/data/res/
/developer/agent/gamecard/
/developer/agent/dependence/
/webogram/
/register/
/sw.js
/lib.sw.js
/sw.agent.js
/editor/
/templates/
/flags.txt
/README.TXT
/PhaserEditor2D
